<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title> my baby</title>
</head>

<body>

    <header>
        <div class="main">
            <ul>
                <li> <a href="/">home</a></li>
                <li><a href="addChild">Add Child</a></li>
            </ul>
        </div>
    </header>

    <section class="list">
        {{#each child}}
        <div class="child-div">
            <form class="childrenDeleteBut" method="POST" action="/delete/{{id}}">
                <button  type="delete">DELETE</button>
            </form>
            <ul class="child-list">
                <li class="child">Child Name: {{childname}}</li>
                <li class="child">DOB: {{DOB}}</li>
                <li class="child">{{gender}}</li>


            </ul>

        </div>
        {{/each}}




    </section>

</body>

</html>