<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You Are Growing</title>
   <link rel="stylesheet" href="/child-form.css"> 
  </head>

<body class="body">  
<a href="/">home</a>
            
     
</header>
<h1 class="header">Add a new child</h1>

<form class="login" action="/addchild" method="post">
  
  <label for="name" class="form-item">
    Child Name:
    <input type="text" name="child_name" value="{{child_name}}" placeholder="name">
  </label>



  <label for="date" class="form-item">
    DOB:
    <input type="text" name="DOB" value="{{DOB}}" placeholder="DD/MM/YY">
  </label>



  <label for="gender" class="form-item">
    Gender:
    <input type="text" name="gender" value="{{gender}}" placeholder="M/F">
  </label>



 Image:
  <form class="form" action="/addchild" method="post"> 
  <input type="file" name="fileupload" value="fileupload" id="fileupload"> 
  <label for="fileupload"> </label> 
  <input type="submit" value="submit">

</form>

</body>
</html>

