<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Diary</title>
</head>

<body>

    <div class="diary"><a href="/">home</a></div>
  
    <h1>{{child_name}}Diary</h1>
    <section>
        <form action="/diary" method="post">
            <input placeholder="what happen" type="text" name="diary" value="{{newDiary.diary}}" />
            <input placeholder="photo" type="file" name="Image" />
            <input type="submit" value="add diary" />
        </form>


        <ul>
            {{#each diarys}}

            <li class="eachDiary" id="eachDiary">{{diary}}</li>
            <img src="IMG_0166.jpg">

            {{/each}}
        </ul>
    </section>
</body>

</html>