*, html{
    margin: 0;
    padding:0;
    
}

ul{
    float:right;
    list-style-type: none;
    margin-top: 25px;
}
ul li a{
   
    color:rgb(184, 110, 110);
    padding: 5px 30px;
    border: 1px solid rgb(167, 223, 243);
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;

}
.list {
    background-image:url(/maxresdefault.jpg);
    background-size: 90%;
    background-position: center;
    width: 100%;
    height: 780px;
    padding: 160px 0 0 300px;
  
   
    font-weight: 500;
    font-family: san-serif;
    
}

.listcol{
    display: flex;
    float: left;
}
/* .child-div {
    display: inline-block;
    min-width: 200px;   
  
    
} */
.child-list {
    /* float: none; */
  padding:50px;

}


.child{
    list-style: none;
    width:800px; 
    padding-right: 100px;
    font-size: 1.5em;
    color: rgb(156, 76, 76);
    margin-top: 10px;
} 

.container{
    background-image:url(/animals-blur-colors-1319572.jpg);
   
    height: 100vh;
    background-size: cover;
    background-position: center; 
    color:whitesmoke;
    width: 2000px;
    height: 480px;
    padding-top: 50px;
    margin-top: 80px;
  
    
}

.col {
    color:rgb(245, 245, 245);
    padding: 500px 100px;
    
    
} 

.Diary{
    background-color:  rgb(221, 241, 253)
}
.diary{
    background-color:rgb(109, 176, 221);

}

#eachDiary {
    list-style: none;
    width:60%;
    height:180px;
    padding:10px;
    border:8px 8px 3px 8px solid rgb(208, 207, 207);
    background-color: rgb(166, 210, 240);
    font-size: 1.5em;
    font-weight: 200;
    float:left;
    font-family:san-serif;
    color:#463F3A;
    margin-left: 90px;
}

img{
    width: 22%;   
}
input[type=text] {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input[type=submit]{
    font-size: 40px;

}
button[type=delete]{
    font-size: 15px;
}